<div class="wrapper">
    <div class="topicos">
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <ul class="topicos-footer">
                        <h6>lorem ipsum dolor</h6>
                            <li>lorem ipsum</li>
                            <li>lorem ipsum</li>
                            <li>lorem ipsum</li>
                            <li>lorem ipsum</li>
                    </ul>
                </div>
            <div class="col-3">
                <ul class="topicos-footer">
                    <h6>lorem ipsum dolor</h6>
                        <li>lorem ipsum</li>
                        <li>lorem ipsum</li>
                        <li>lorem ipsum</li>
                </ul>
            </div>
            <div class="col-3">
                <ul class="topicos-footer">
                    <h6>lorem ipsum dolor</h6>
                        <li>lorem ipsum</li>
                        <li>lorem ipsum </li>
                        <li>lorem ipsum</li>
                </ul>
                </div>
            </div>
        </div>
    </div>
    <footer class="rodape">
    <p class="text-center">&copy; Todos os Direitos reservados a
    <b>Weslley Hendz</b>
    </p>
    </footer>
</div>