<div class="container bg_img">
    <div class="row box-cadastro">
        <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Dropdown</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem>Dropdown0</button>
                <button ngbDropdownItem>Dropdown1</button>
                <button ngbDropdownItem>Dropdown2</button>
            </div>  
        </div> 
        
    <div class="col-12">
        <h3 class="text-center texto-cadastro">Cadastro de clientes</h3>
            <form class="mt-5"  [formGroup]='formCadastro' (ngSubmit)='objetoCadastro()' (ngSubmit)="resetForm()">
              <div class="form-group">
                <input type="date" class="form-control cadastro" id="exampleInputdate1" aria-describedby="dateHelp" placeholder="Data" formControlName='data'>
              </div>
              <div class="form-group">
                  <input type="time" class="form-control cadastro" id="exampleInputPassword1" placeholder="Horário" formControlName='horario'>
              </div>
              <div class="form-group">
                  <input type="verbatim" class="form-control cadastro" id="exampleInputPassword1" placeholder="Texto Alfanumérico"  formControlName='alfanumerico'>
              </div>
              <div class="form-group">
                  <input type="number" class="form-control cadastro" id="exampleInputPassword1" placeholder="Digite somente números"  formControlName='numero'>
              </div>
              <div class="form-group">
                  <textarea type="number" class="form-control cadastro" id="exampleInputPassword1" placeholder="Área de Texto Livre"  formControlName='texto'></textarea>
              </div>
              <div class="container radio-style col-sm-3">
                  <div class="form-check">
                    <label class="form-check-label" for="radio">
                      <input type="radio" [value]="true" formControlName='radio' class="form-check-input" name="radio" checked><span>Radio Verdadeiro</span>
                    </label>
                  </div>
                  <div class="form-check">
                    <label class="form-check-label" for="radio">
                      <input type="radio" [value]="false" formControlName='radio' class="form-check-input" name="radio"><span>Radio Falso</span>
                    </label>
                  </div>
                </div>
                  <button type="submit" class="btn btn-cadastro btn-lg" (click)="objetoCadastro()" (click)="resetForm()">Cadastrar</button>
      </form>
    </div>

    </div>
</div>