.box-cadastro {
    margin: 0px;
    padding: 0px;
}
.cadastro {
    padding: 10px;
    border: none;
    border-bottom: 2px solid #ddd;
    border-radius: 0;
    outline: none;
    height: 50px;
}
.btn-cadastro {
    width: 30%;
    display: block;
    margin: 0 auto;
    padding: 10px;
    background-image: linear-gradient(to bottom, #bbb4b4, #746e6e);
    font-weight: bold;
}
.btn-cadastro:hover {
    background-image: linear-gradient(to bottom, #746e6e, #bbb4b4);
}

.bg_img{
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -1000;
        background: url('../images/wallpaper.jpg') no-repeat;
        background-size: cover;
}

.texto-cadastro {
    color: #fff;
}

.radio-style {
    background-image: linear-gradient(to bottom, #bbb4b4, #746e6e);
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
  
.radio-style {
    background-color: black;
  }

.btn-dwu {
    background-image: linear-gradient(to bottom, #746e6e, #bbb4b4);
    color: #fff;
}

.btn-dwu:hover {
    background-image: linear-gradient(to bottom, #bbb4b4,#746e6e);
    color: #fff;
}

.btn-dwu2 {
    color: #746e6e;
}