.acessar-conta {
    position: relative;
    top: 10px;
    background-color: #333;
    border: 0;
    color: #fff;
}
@media screen and (min-width: 600px) {
.wrapper-header {
    height: 15vh;
}
.menu-header li {
    list-style: none;
    display: inline;
    position: relative;
    margin: 10px;
    top: 30px;
    font-size: 18px;
}
}
.form-row.align-items-center {
    height: 120px;
    /* float: left; */
    margin-top: 0px;
    /* margin: 100px; */
}
.login {
        background-image: linear-gradient(to bottom, #746e6e, #bbb4b4);
        color: #fff;
        text-align: center;
}
.texto-login {
        margin-top: 20px;
}